################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Analyzer1/Analyzer1/bin
/Analyzer1/Analyzer1/obj
/Analyzer1/Analyzer1.Test/bin
/Analyzer1/Analyzer1.Test/obj
/Analyzer1/Analyzer1.Vsix/bin
/Analyzer1/Analyzer1.Vsix/obj
/packages
